{% for project in site.data.projects.projects %}
<div
  class="modal fade"
  id="{{ project.id }}"
  tabindex="-1"
  aria-labelledby="{{ project.id }}Label"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="{{ project.id }}Label">{{ project.title }}</h5>
        <button type="button"  class="btn-close ms-auto m-3"  data-bs-dismiss="modal"  aria-label="Close"></button>
      </div>
      
      <div class="modal-body">

        {% case project.type %}

        {% when "website" %}
          {% include modal-website.html project=project %}
        
        {% when "logo" %}
          {% include modal-logo.html project=project %}

        {% else %}
          <p>No layout defined.</p>

        {% endcase %}

      </div>

    </div>
  </div>
</div>
{% endfor %}
