<div
  id="carousel-{{ project.id }}"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <!-- Indicators -->
  <div class="carousel-indicators">
    {% for img in project.images %}
    <button
      type="button"
      data-bs-target="#carousel-{{ project.id }}"
      data-bs-slide-to="{{ forloop.index0 }}"
      class="{% if forloop.first %}active{% endif %}">
    </button>
    {% endfor %}
  </div>
  <!-- Carousel -->
  <div class="carousel-inner">
    {% for img in project.images %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <img src="/assets/img/{{ img.file }}" class="d-block w-100">
      <p><strong>Brand Purpose:</strong> {{ img.purpose }} </p>
      <p><strong>Industry:</strong> {{ img.industry }} </p>
      <p><strong>Concept:</strong> {{ img.concept }} </p>
      <p><strong>Versatility & Application:</strong> {{ img.application }} </p>
      <p><strong>Tools & Technologies:</strong> {{ img.tools }} </p>
      <p><strong>Role:</strong> {{ img.role }} </p>
    </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button"
    data-bs-target="#carousel-{{ project.id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next" type="button"
    data-bs-target="#carousel-{{ project.id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
