 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <div id="carousel{{ post.modal-id }}" class="carousel slide">

                                 <!-- Indicators -->
                                 <div class="carousel-indicators">
                                     {% for image in post.images %}
                                     <button
                                         type="button"
                                         data-bs-target="#carousel{{ post.modal-id }}"
                                         data-bs-slide-to="{{ forloop.index0 }}"
                                         class="{% if forloop.first %}active{% endif %}"
                                         aria-current="{% if forloop.first %}true{% endif %}">
                                     </button>
                                     {% endfor %}
                                 </div>
                             
                                 <!-- Slides -->
                                 <div class="carousel-inner">
                                     {% for image in post.images %}
                                     <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                         <img src="img/work/{{ image.file }}"
                                              class="d-block w-100"
                                              alt="{{ image.caption }}">
                                         <div class="carousel-caption d-none d-md-block">
                                             {{ image.caption }}
                                         </div>
                                     </div>
                                     {% endfor %}
                                 </div>
                             
                                 <!-- Controls -->
                                 <button class="carousel-control-prev" type="button"
                                         data-bs-target="#carousel{{ post.modal-id }}"
                                         data-bs-slide="prev">
                                     <span class="carousel-control-prev-icon"></span>
                                 </button>
                             
                                 <button class="carousel-control-next" type="button"
                                         data-bs-target="#carousel{{ post.modal-id }}"
                                         data-bs-slide="next">
                                     <span class="carousel-control-next-icon"></span>
                                 </button>
                             
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
