 <!-- Portfolio Modals -->
 {% for post in site.posts %}

                         <!-- Modal Content -->
                            {% assign project = site.data.projects.projects | where: "id", "project1" | first %}

<div class="modal fade" id="project1Modal" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{ project.title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <div id="carouselProject1" class="carousel slide" data-bs-ride="carousel">

          <!-- Indicators -->
          <div class="carousel-indicators">
            {% for img in project.images %}
            <button
              type="button"
              data-bs-target="#carouselProject1"
              data-bs-slide-to="{{ forloop.index0 }}"
              class="{% if forloop.first %}active{% endif %}">
            </button>
            {% endfor %}
          </div>

          <!-- Slides -->
          <div class="carousel-inner">
            {% for img in project.images %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="/aboutme/assets/img/{{ img.file }}" class="d-block w-100">
              {% if img.caption %}
              <div class="carousel-caption d-none d-md-block">
                <p>{{ img.caption }}</p>
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>

          <!-- Controls -->
          <button class="carousel-control-prev" type="button"
            data-bs-target="#carouselProject1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>

          <button class="carousel-control-next" type="button"
            data-bs-target="#carouselProject1" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>

        </div>

      </div>
    </div>
  </div>
</div>

                         <!-- EOF Modal Content -->

{% endfor %}
