<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Expertise</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">UI/UX Design</h4>
                    <section class="bar-graph bar-graph-horizontal bar-graph-one">
                      <!--<div class="bar-one">
                        <span class="year">Years</span>
                        <div class="bar" data-percentage="69.6%"></div>
                      </div>-->
                      <div class="bar-one">
                        <div class="bar" data-percentage="80%"></div>
                      </div>
                      <div>
                        <div class="expertlabel"> Experience : <span>6 Years</span></div>
                      </div>
                      <!--<div class="bar-three">
                        <span class="year">2017</span>
                        <div class="bar" data-percentage="74.7%"></div>
                      </div>
                      <div class="bar-four">
                        <span class="year">2019</span>
                        <div class="bar" data-percentage="76.8%"></div>
                      </div>-->
                    </section>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Graphic Design</h4>
                    <section class="bar-graph bar-graph-horizontal bar-graph-one">
                      <div class="bar-one">
                        <div class="bar" data-percentage="100%"></div>
                      </div>
                      <div>
                        <div class="expertlabel"> Experience : <span>22 Years</span></div>
                      </div>
                    </section>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Video / Audio Editing</h4>
                    <section class="bar-graph bar-graph-horizontal bar-graph-one">
                      <div class="bar-one">
                        <div class="bar" data-percentage="100%"></div>
                      </div>
                      <div>
                        <div class="expertlabel"> Years of Experience : <span>12 Years</span></div>
                      </div>

                    </section>
                </div>
            </div>
        </div>
    </section>
