<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    <script  src="{{ "/js/pen.js" | prepend: site.baseurl }}"></script>
    <script>
    $(document).on('shown.bs.modal', '.portfolio-modal', function () {
        $(this).find('.carousel').carousel({
            interval: false
        });
    });
    </script>
    </body>
</html>
