<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="page-top" class="index">
    {% include header.html %}
    {% include expertise.html %}
    {% include my_works.html %}
    {% include work-experience.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    <script  src="{{ "/js/pen.js" | prepend: site.baseurl }}"></script>
    <script>
      document.addEventListener('shown.bs.modal', function (event) {
        const carousel = event.target.querySelector('.carousel')
        if (carousel) {
          bootstrap.Carousel.getOrCreateInstance(carousel)
        }
      })
    </script>
    <script>
      document.addEventListener('click', function (e) {
        if (e.target.classList.contains('js-force-close')) {
          const modalEl = e.target.closest('.modal');
          const instance = bootstrap.Modal.getInstance(modalEl);
          instance.hide();
        }
      });
      </script>
    </body>
</html>
